// Reset styles
*
    padding: 0
    margin: 0

body
    line-height: 1

ol, ul
    list-style: none

//colors
$neutral-900 : #202020
$neutral-500 : #7d7d7d
$primaryColor : #e5fe04
$neutral-0: #e8e8e8


//header
header
    //background-color: $neutral-900
    margin-bottom: 1.5rem
    nav
        background: $neutral-900  
        display: flex
        justify-content: space-between
        align-items: center

        img
            width: 10rem
            height: 7rem
            margin: auto

        .menuList
            display: none
            li a, a:visited
                color: $primaryColor
                text-decoration: none
                text-transform: uppercase
            li a:hover
                color: $neutral-0
                text-decoration: underline

        .fa-solid
            color: $primaryColor
            margin: 10px
        
        .fa-xmark
            display: none


            color: #e5fe04    
            cursor: pointer
    
@media screen and (min-width: 650px) 
    header
        nav
            display: flex
            justify-content: space-around
            align-items: center
            padding: 10px
            font-size: calc( 0.5rem + 1vw )
            
            img
                margin: 0
            .menuList
                display: flex
                justify-content: space-between
                width: 70%
            

            .fa-solid
                display: none



