@use '_colors' as colors;
@use '_fonts' as fonts;

@mixin img {
  border-radius: 5px;
  box-shadow: colors.$shadow;
  border: 2px solid colors.$primary;
}

@mixin fontTitle {
  font-family: fonts.$title;
  font-weight: 700;
  font-style: normal;
}
