@use '../utils/_main' as utils;
.footer {
  background-color: utils.$primaryColor;
  margin-top: 0.5rem;
}
.networks__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__networks__list li:last-child img {
    width: 5rem;
  }
}
