@use '../utils/_main' as utils;

header {
  background-color: utils.$neutral-900;
  margin-bottom: 0.3rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: utils.$neutral-900;
  height: 5rem;

  &__logo {
    width: auto;
    margin: 0.5rem;
    height: 4rem;
    border-radius: 10px;
  }
  li,
  a {
    color: utils.$primaryColor;
    transition: 0.7s ease;
  }
  li a,
  a:visited {
    text-decoration: none;
    text-transform: uppercase;
  }
  li a:hover {
    color: utils.$neutral-0;
    text-decoration: underline;
  }
  .inactive {
    display: none;
  }
}

.icons--bars,
.icons--xmark {
  color: utils.$primaryColor;
  margin: 25px;
}

@media screen and (min-width: 650px) {
  .nav {
    justify-content: space-between;
    background: linear-gradient(
      130deg,
      utils.$neutral-900 24%,
      utils.$neutral-0 24% 25%,
      utils.$primaryColor 25% 100%
    );
    align-items: center;
    font-size: calc(0.5rem + 1vw);
    &__logo {
      padding: 0.5rem 1rem;
    }
    &__menuList {
      display: flex;
      justify-content: space-between;
      color: utils.$neutral-900;
      width: 70%;
    }
    li a,
    a:visited {
      color: utils.$neutral-900;
    }
  }
}
