@use '../utils/_main' as utils;
.main {
  background-color: utils.$neutral-900;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  &__teamPhoto {
    width: 100%;

    width: 80%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  }
  &__teamPresentation {
    display: flex;
    flex-direction: row;
    padding: 15px;

    h1,
    p {
      color: utils.$neutral-0;
      text-align: center;
    }
    h1 {
      font-size: 2rem;
    }
  }
  &__motoPhoto {
    display: none;
  }
}
@media screen and (min-width: 650px) {
  body {
    min-height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5px;

    &__teamPhoto {
      width: 70%;
      border-radius: 5px;
      margin: 10px;
      display: flex;
    }
    &__teamPresentation {
      display: flex;
      flex-direction: row;
      padding: 2rem;

      h1 {
        font-size: 2rem;
        color: utils.$neutral-0;
        padding: 0 2rem;
      }
      p {
        color: utils.$neutral-0;
        padding: 1rem 2rem;
      }
      div {
        margin-right: 15px;
      }
    }
    &__motoPhoto {
      display: block;
      width: 30%;
      border-radius: 5px;
      box-shadow: 150px utils.$neutral-500;
      display: block;
    }
  }
}
