@use "../utils/_main" as utils
.main
    background-color: utils.$neutral-900
    &__teamPhoto
        width: 70%
        border-radius: 5px
        text-align: center

    &__teamPresentation
        display: flex
        flex-direction: row
        padding: 15px
        h1
            font-size: 2rem
            color: utils.$neutral-0
        p
            color: utils.$neutral-0
    &__motoPhoto
        display: none
@media screen and (min-width: 650px) 
    .main
        &__teamPresentation
            display: flex
            flex-direction: row
            padding: 15px
            h1
                font-size: 2rem
                color: utils.$neutral-0
            p
                color: utils.$neutral-0
        &__motoPhoto
            width: 30%
            border-radius: 5px
            box-shadow: 150px utils.$neutral-500