* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

header {
  background-color: #202020;
  margin-bottom: 0.3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #202020;
  height: 5rem;
}
.nav__logo {
  width: auto;
  margin: 0.5rem;
  height: 4rem;
  border-radius: 10px;
}
.nav li,
.nav a {
  color: #e5fe04;
  transition: 0.7s ease;
}
.nav li a,
.nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
}
.nav li a:hover {
  color: #fff;
  text-decoration: underline;
}
.nav .inactive {
  display: none;
}

.icons--bars,
.icons--xmark {
  color: #e5fe04;
  margin: 25px;
}

@media screen and (min-width: 650px) {
  .nav {
    justify-content: space-between;
    background: linear-gradient(130deg, #202020 24%, #fff 24% 25%, #e5fe04 25% 100%);
    align-items: center;
    font-size: calc(0.5rem + 1vw);
  }
  .nav__logo {
    padding: 0.5rem 1rem;
  }
  .nav__menuList {
    display: flex;
    justify-content: space-between;
    color: #202020;
    width: 70%;
  }
  .nav li a,
  .nav a:visited {
    color: #202020;
  }
}
.main {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.main__teamPhoto {
  width: 100%;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.main__teamPresentation {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.main__teamPresentation h1,
.main__teamPresentation p {
  color: #fff;
  text-align: center;
}
.main__teamPresentation h1 {
  font-size: 2rem;
}
.main__motoPhoto {
  display: none;
}

@media screen and (min-width: 650px) {
  body {
    min-height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5px;
  }
  .main__teamPhoto {
    width: 70%;
    border-radius: 5px;
    margin: 10px;
    display: flex;
  }
  .main__teamPresentation {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  .main__teamPresentation h1 {
    font-size: 2rem;
    color: #fff;
    padding: 0 2rem;
  }
  .main__teamPresentation p {
    color: #fff;
    padding: 1rem 2rem;
  }
  .main__teamPresentation div {
    margin-right: 15px;
  }
  .main__motoPhoto {
    display: block;
    width: 30%;
    border-radius: 5px;
    box-shadow: 150px #7d7d7d;
    display: block;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e5fe04;
  height: 10%;
  margin-top: 10px;
}
.footer__networks__list li:last-child img {
  width: 5rem;
}
.footer__networks, .footer__list {
  display: flex;
  flex-direction: row;
}
.footer__item img {
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
}

.construction {
  background-color: #202020;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.construction__title, .construction__icon {
  color: #fff;
}
.construction__icon {
  height: 150px;
  width: 5rem;
}