* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2;
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

.header {
  background-color: #202020;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #202020;
  height: 6rem;
}
.nav__logo {
  width: auto;
  margin: auto;
  height: 4rem;
  border-radius: 10px;
}
.nav ul {
  margin: 1rem 0;
}
.nav li,
.nav a {
  color: #e7fd05;
  font-family: "Permanent Marker", serif;
  font-weight: 700;
  font-style: normal;
  transition: 0.7s ease;
}
.nav li a,
.nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
}
.nav li a:hover {
  color: #f3f3f3;
  text-decoration: underline;
}
.nav .inactive {
  display: none;
}

.icons--bars,
.icons--xmark {
  width: 1em;
  color: #e7fd05;
  cursor: pointer;
  margin: auto 1rem;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    background: linear-gradient(130deg, #202020 24%, #f3f3f3 24% 25%, #e7fd05 25% 100%);
    align-items: center;
    font-size: calc(0.5rem + 1vw);
  }
  .nav__logo {
    margin: 0.5rem 1rem;
    width: 6rem;
  }
  .nav__menuList {
    display: flex;
    justify-content: space-between;
    color: #202020;
    width: 70%;
  }
  .nav li a:hover {
    color: #f3f3f3;
    -webkit-text-stroke: 2px #202020;
    text-decoration: underline;
  }
  .nav li a,
  .nav a:visited {
    color: #202020;
  }
}
@media screen and (min-width: 100px) {
  .nav {
    justify-content: space-around;
  }
}
.footer {
  padding: 2rem;
  background-color: #e7fd05;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  flex-wrap: nowrap;
}
.footer__networks--logo {
  display: block;
  width: 3rem;
  cursor: pointer;
  margin: 0 auto;
}
.footer__networks--logo :hover {
  transform: scale(1.2);
}
.footer__legals {
  margin: 1rem 0;
}

.home {
  max-width: 1250px;
  margin: 0 auto;
  background-color: #202020;
}
.home__moto-race {
  width: 30rem;
  overflow: hidden;
  margin: 50px auto;
}
.home__moto-race--photo {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid #e7fd05;
}
.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.home__team-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.home__team-presentation--title {
  font-family: "Permanent Marker", serif;
  font-weight: 700;
  font-style: normal;
  color: #f3f3f3;
}
.home__team-presentation--text {
  color: #f3f3f3;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}
.home__moto-official {
  width: 25rem;
  overflow: hidden;
  margin: 50px auto;
}
.home__moto-official--photo {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid #e7fd05;
}

.sponsors {
  max-width: 1250px;
  margin: 0 auto;
  background-color: #202020;
}
.sponsors__title {
  font-family: "Permanent Marker", serif;
  font-weight: 700;
  font-style: normal;
  color: #f3f3f3;
  text-align: center;
  margin: 50px 0;
}
.sponsors__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}
.sponsors__img {
  width: 100px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid #e7fd05;
}

@media screen and (min-width: 768px) {
  .home__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
    padding: 2rem;
  }
  .home__team-presentation {
    flex: 1;
    max-width: 60%;
  }
  .home__team-presentation--title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .home__team-presentation--text {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .home__moto-official {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .home__moto-official--photo {
    max-width: 100%;
    height: auto;
  }
}
th {
  text-transform: uppercase;
}

sup {
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.zoomed {
  position: absolute;
  transform: scale(2);
  z-index: 1;
}

.pilots {
  max-width: 1250px;
  min-height: 70vh;
  background-color: #202020;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: nowrap;
}
.pilots__title {
  color: #f3f3f3;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: #202020;
  border: 0rem;
  cursor: pointer;
}
.card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}
.card__front:hover {
  scale: 1.1;
}
.card__front--img {
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid #e7fd05;
  width: 12rem;
}
.card__front--name {
  color: #e7fd05;
  margin-top: 0.5rem;
}
.card__modal--palmares {
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  border: 2px solid #e7fd05;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .all-pilots {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1250px) {
  .main {
    display: flex;
    align-items: center;
    margin: auto 0;
    justify-content: center;
    gap: 1rem;
    height: 100%;
  }
  .allPilots {
    max-width: 1300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.contact__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}