@use "../utils/_main" as utils;
.hidden {
	display: none;
}
.zoomed {
	position: absolute;
	transform: scale(2);
	z-index: 1;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: utils.$neutral-900;
	border: 0rem;
	cursor: pointer;
	&__front {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: utils.$neutral-900;
		&:hover {
			scale: 1.1;
		}
		&--img {
			@include utils.img;
			width: 15rem;
			height: 20rem;
		}
		&--name {
			color: utils.$primary;
			margin-top: 0.5rem;
		}
	}
	&__modal {
		&--palmares {
			@include utils.img;
			width: 100%;
		}
	}
}

@media screen and (min-width: 700px) {
	.allPilots {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.card {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (min-width: 1000px) {
	.main {
		display: flex;
		align-items: center;
		margin: auto 0;
		justify-content: center;
		gap: 1rem;
	}
	.allPilots {
		max-width: 1300px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
}
