@use '../utils/_main' as utils;
.hidden {
    display: none;
}

.pilot {
    &__img {
        @include utils.img;
        width: 15rem;
        height: 20rem;
        margin: auto;
    }
    &__name {
        color: utils.$primary;
        margin-top: 0.5rem;
    }
}
