@use '_colors' as colors;
@mixin img {
  border-radius: 5px;
  box-shadow: colors.$shadow;
  border: 2px solid colors.$primary;
}

@mixin flux($width) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}
